includes:
  - phpstan-baseline.neon

parameters:
    paths:
      - src
      - tests/TestCase
    level: 8
    bootstrapFiles:
      - tests/bootstrap.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue
