parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method CakeScheduler\\Scheduler\\Scheduler\|Mockery\\LegacyMockInterface\:\:getEventManager\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/TestCase/Command/ScheduleRunCommandTest.php

		-
			message: '#^Call to an undefined method CakeScheduler\\Scheduler\\Scheduler\|Mockery\\LegacyMockInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: tests/TestCase/Command/ScheduleRunCommandTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andReturn\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: tests/TestCase/Command/ScheduleRunCommandTest.php

		-
			message: '#^Cannot unset property CakeScheduler\\Test\\TestCase\\Scheduler\\SchedulerTest\:\:\$scheduler because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: tests/TestCase/Scheduler/SchedulerTest.php
